/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}
/*FIM DO RESET*/

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    background-color: black;
    font-family: "Chivo", sans-serif;
}
header{
    height: 100px;
    display: flex;
    padding-right: 50px;
    border-bottom: 3px solid white;   
    justify-content: space-between;
    align-items: center;
}

header div{
    display: flex;
    gap: 24px;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: #C3C3C3;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: black;
}

.logo{
    height: 40px;
    width: 80px;
    background-color: white;
    background-image: url(./img/nike-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    width: 1300px;
    height: 50px;
    color: white;
}
.caixa{
    font-size: 22px;
    background-color: #313131;
    width: 150px;
    height: 35px;
    border-radius: 17.5px;
    align-items: center;
}
.icon{
    width: 100%;
}
input{
    border: none;
    outline: none;
    width: 100%;
    background-color: white;
    display: ;
}
.box{
    background-color: #313131;
    width: 50px;
    height: 50px;
    border-radius: 10.5px;
}

main{
    flex-grow: 1;
    display: flex; 
    background-color: rgb(250 250 250);
    background-color: black;
    padding-top: 5%;
}
.slogan{
    background-color: black;
    width: 10%;
    display: flex;
    
}
h1{
    font-size: 90px;
    color: white;
}
.destaque{
    width: 73%;
    display: flex;
    background-color: black;
    background-image: url(./img/auntPearl.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
}
.modelo{
    background-color: black;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
p{
    font-size: 60px;
    color: white;
}
footer{
    height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 70%;
}

.tenis1{
    background-color: #313131;
    width: 350px;
    height: 170px;
    border-radius: 30px;
}
.tenis2{
    background-color: #313131;
    width: 350px;
    height: 170px;
    border-radius: 30px;
}
.tenis3{
    background-color: #313131;
    width: 350px;
    height: 170px;
    border-radius: 30px;
}